// Colors used:
// 6e0d25 burgundy
// ffffb3 white brown
// dcab6b light brown
// 774e24 brown
// 6a381f dark brown

:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #ffffb3;
}

// Header
.cup {
  text-shadow: hsl(20, 55%, 3%) 0.05em 0.05em;
}
h1 {
  text-align: center;
  color: #6e0d25;
  // text-shadow: hsl(20, 55%, 3%) 0.05em 0.05em;
}
.faux {
  margin-bottom: 1rem;
}
.bottom {
  margin-left: 1rem;
}

// List
.list-page {
  margin: auto;
  max-width: 500px;
}
.list-form {
  margin: 0.5rem;
  margin-bottom: 0.3rem;
  display: flex-wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.text-div {
  text-align: center;
}
.text-div label {
  margin-right: 1rem;
}
.list-text {
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  max-width: fit-content;
  border: none;
  padding: 0.3rem;
  background-color: #dcab6b;
  text-align: right;
  max-width: 20%;
}
.check-div {
  text-align: center;
}
.submit-div {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.list-submit {
  text-align: center;
}

.subtitle {
  text-align: center;
}

.center {
  text-align: center;
}

.top {
  display: flex;
}
article {
  display: flex;
  justify-content: space-evenly;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
  height: 3.9rem;
  background-color: #6e0d25;
  color: #dcab6b;
  align-items: center;
  text-shadow: black 0.05em 0.05em;
}
article p {
  width: 25%;
}
.list-emoji {
  width: 10%;
  font-size: 2rem;
}
a {
  color: #ffffb3;
}
#fast {
  background-color: red;
}
.create-link {
  text-align: center;
  margin: 1rem;
}
.create-link a {
  color: black;
}

// LocationPage
.instruct {
  text-align: center;
  margin: 0;
  color: #774e24;
}
.location-page {
  display: flex-wrap;
  margin: 1rem;
}
.edit-location {
  display: flex-wrap;
  width: 100%;
  margin-bottom: 1rem;
  padding-left: 1rem;
}
h2 {
  color: #6e0d25;
  margin-right: 1rem;
}
.edit-field {
  display: flex;
  align-items: baseline;
  line-height: 0.5rem;
}
.edit-field-address {
  display: flex;
  align-items: baseline;
  line-height: 1rem;
}
.patch-address {
  max-width: 80%;
}

// Create
.create-page {
  margin: 1rem;
}
.create-page h2 {
  margin-bottom: 0.5rem;
}
.create-button {
  margin-top: 1rem;
}
.back-to-list {
  margin-top: 1rem;
}
.back-to-list a {
  color: #774e24;
}

// Map
.mapboxgl-popup {
  z-index: 1;
}
.popup {
  margin-right: 1rem;
}
.popup a {
  color: #6e0d25;
}
