// Colors used:
// 6e0d25 burgundy
// ffffb3 white brown
// dcab6b light brown
// 774e24 brown
// 6a381f dark brown

:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #ffffb3;
}

// Front Page
.front-page {
  margin-left: 5%;
}
.cup {
  text-shadow: hsl(20, 55%, 3%) 0.05em 0.05em;
  margin-bottom: 0.5rem;
}
.title {
  margin-top: 0;
  margin-bottom: 0;
}
h1 {
  text-align: center;
  color: #6e0d25;
}
.faux {
  margin-bottom: 1rem;
}
.faux-input {
  border: thin solid #6e0d25;
  padding: 0.3rem;
  background-color: #dcab6b;
  text-align: right;
  max-width: 30%;
  text-align: center;
}
.bottom {
  margin-left: 1rem;
}

// List
.list-page {
  margin: auto;
  max-width: 500px;
  width: fit-content;
}
.list-form {
  margin: 0.5rem;
  margin-bottom: 0.3rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.text-div {
  text-align: center;
}
.text-div label {
  margin-right: 1rem;
}
.list-text {
  margin-bottom: 1rem;
  max-width: fit-content;
  border: thin solid #6e0d25;
  padding: 0.3rem;
  background-color: #dcab6b;
  text-align: center;
  max-width: 20%;
}
.check-div {
  text-align: center;
  margin-bottom: 0;
}
.submit-div {
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.list-submit {
  text-align: center;
  background-color: #6e0d25;
  border: none;
  color: #ffffb3;
  padding: 0.3rem;
  margin-top: 0;
  box-shadow: hsl(345, 79%, 13%) 0.1rem 0.1rem;
}

.subtitle {
  text-align: center;
}

.center {
  text-align: center;
}

.top {
  display: flex;
}
article {
  display: flex;
  justify-content: space-evenly;
  margin: 1%;
  margin-bottom: 0.5rem;
  height: 3.9rem;
  background-color: #6a381f;
  align-items: center;
  border: solid medium #6e0d25;
  box-shadow: hsl(30, 54%, 13%) 0.3em 0.3em;
  color: #ffffb3;
  text-shadow: black 0.05rem 0.05rem;
}
article p {
  width: 25%;
}
.list-emoji {
  width: 10%;
  font-size: 2rem;
  text-shadow: black 0.05rem 0.05rem;
}
article a {
  color: #dcab6b;
  text-shadow: black 0.05rem 0.05rem;
}
#fast {
  background-color: red;
}
.create-link {
  text-align: center;
  margin: 1rem;
}
.create-link a {
  color: black;
}

// LocationPage
.location-page {
  margin: 1rem;
  width: 90%;
  background-color: #dcab6b;
  border: medium solid #6e0d25;
}
.edit-location {
  width: fit-content;
  margin-bottom: 1rem;
  padding-left: 1rem;
}
h2 {
  color: #6e0d25;
  margin-right: 1rem;
  width: fit-content;
}
.edit-field {
  display: flex;
  align-items: baseline;
  line-height: 1rem;
}
.edit-field-address {
  display: flex;
  align-items: baseline;
}
.show {
  background-color: #ffffb3;
  margin-right: 1rem;
  padding: 0.3rem;
  border: thin solid #6e0d25;
  width: 10rem;
}
.patch-field {
  max-width: 100%;
  background-color: #ffffb3;
  border: none;
}
.form-container {
  max-width: 10rem;
}

// Create
.create-page {
  margin: 1rem;
}
.create-page h2 {
  margin-bottom: 0.5rem;
}
.create-input {
  background-color: #dcab6b;
  border: thin solid #6e0d25;
}
.create-button {
  margin-top: 1rem;
  background-color: #6e0d25;
  border: none;
  color: #ffffb3;
  box-shadow: black 0.1rem 0.1rem;
}
.back-to-list {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.back-to-list a {
  color: black;
}

// Map
.map-div {
  margin-left: 1rem;
}
.mapboxgl-popup {
  z-index: 1;
}
.popup {
  margin-right: 1rem;
}
.popup a {
  color: #6e0d25;
}
.span-emoji {
  text-shadow: black 0.05em 0.05em;
}
@media screen and (max-width: 700px) {
  .front-page {
    margin-left: 0;
  }
}
